header nav ul {
    font-family: Arial;
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
header nav ul li {
    font-size: 20pt;
    position: relative;
    top: 50%;
    margin: 0;
    padding: 8px;
    z-index: 10;
}
header nav ul li a {
    color: rgb(245,245,245);
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
header nav ul li a.hover {
    color: rgb(255,255,255);
}
#box {
    background-color: rgb(18,34,72);
    border-color: rgb(18,34,72);
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}