body {
    font-family: "Arial";
}
table {
    font-size: 12pt;
    text-align: left;
}
.centerTable {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 200px;
    width: 60%;
    verticle-align: top;
}
tr, td {
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
#student_info {
margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
    width: 30%;
}
button {
    width: 200px;
    font-size: 14pt;
    background-color: rgb(245,245,245);
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    margin: 3px;
}